<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-item">
      <h3>RESTAURANTE <br>LOS TOCHIS</h3>
    </div>
    <div class="footer-item">
      <h4>LOCATION</h4>
      <p>Av. Quevedo Km 3</p>
      <p>Luz de América</p>
      <p>Cerca de la Universidad de las Fuerzas</p>
      <p>Armadas ESPE</p>
    </div>
    <div class="footer-item">
      <h4>CONTACT US</h4>
      <p><a href="mailto:lostochis&#64;gmail.com">lostochis&#64;gmail.com</a></p>
      <p>Tel: 0939115767</p>
    </div>
  </div>
</footer>
