
<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h2>LOS TOCHIS</h2>
      </div>
      <div class="footer-section">
        <h3>LOCATION</h3>
        <p>Av. Quevedo Km 3</p>
        <p>Luz de América</p>
        <p>Cerca de la Universidad de las Fuerzas Armadas ESPE</p>
      </div>
      <div class="footer-section">
        <h3>CONTACT US</h3>
        <a href="mailto:lostochisgmail.com">lostochis&#64;gmail.com</a>
        <p>Tel: 0939115767</p>
      </div>
    </div>
  </footer>
  