
<mat-toolbar class="barra-transparente">
  <button mat-button class="boton-negro">LOS TOCHIS</button>
  <span class="separador"></span>
  <button mat-button class="boton-negro" routerLink="inicio" >Inicio</button>
  <button mat-button class="boton-negro" routerLink="carta">CARTA</button>
  <button mat-button class="boton-negro">LOCALIZACIÓN</button>
  <button mat-raised-button class="boton-amarillo" routerLink="reserva">RESERVAR</button>
</mat-toolbar>

<router-outlet></router-outlet>

<!-- <app-formulario></app-formulario> -->
<!-- <app-carta></app-carta> -->
