.barra-transparente {
  position: absolute;
  width: 100%;
  background-color: transparent;
  color: white;
  z-index: 10;
}

.texto-principal {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.separador {
  flex: 1 1 auto;
}

.botones {
  margin-top: 20px;
}

.botones button {
  margin: 0 15px;
}

.boton-negro {
  background-color: rgba(85, 83, 83, 0.5);
  color: rgb(243, 242, 242) !important;
  margin-right: 20px;
}

.boton-amarillo {
  background-color: #eac445;
  color: rgb(29, 28, 28) !important;
  padding: 10px 20px;
}

.boton-amarillo:hover {
  background-color: #eac445;
}

.boton-negro, .boton-amarillo {
  font-weight: bold;
}
