<header class="header" [ngStyle]="{ 'background-image': 'url(' + backgroundImagePath + ')' }">
  <div class="container">
       <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="display-4">CENA CON NOSOTROS LOS <br> TOCHIS</h1>
        <div class="button-group d-flex justify-content-center my-4">
          <button class="btn btn-dark btn-lg button-dark" [routerLink]="['/']" >INICIO</button>
          <button class="btn btn-warning btn-lg button-warning" [routerLink]="['/reserva']">RESERVAR MESA</button>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="menu-container">
  <div class="menu-header">
    <div class="menu-header-content">
      <h2 class="menu-title">ENTRADAS</h2>
    </div>
  </div>

  <div class="menu-cards">
    <div class="card">
      <img src="../../Comida1.png" alt="Ceviche">
      <p class="card-description">Comidas abundantes y saludables para toda la familia</p>
      <a class="cta-link">PRUEBA NUESTROS CEVICHES Y MÁS</a>
    </div>
    <div class="card">
      <img src="../../Comida2.png" alt="Pescado">
      <p class="card-description">Donde la frescura del mar se encuentra con la excelencia culinaria</p>
      <a class="cta-link">SABORES DEL OCÉANO EN CADA PLATO</a>
    </div>
    <div class="card">
      <img src="../../Comida3.png" alt="Mariscos">
      <p class="card-description">Encuéntranos y déjate llevar por un viaje gastronómico marino</p>
      <a class="cta-link">SABOREA GASTRONOMÍA MARINA</a>
    </div>
  </div>
</div>

<div class="menu-container">
  <div class="menu-header">
    <div class="menu-header-content">
      <h2 class="menu-title">Platos Principales</h2>
    </div>
  </div>

  <div class="menu-cards">
    <div class="card">
      <img src="../../Comida1.png" alt="Ceviche">
      <p class="card-description">Comidas abundantes y saludables para toda la familia</p>
      <a class="cta-link">PRUEBA NUESTROS CEVICHES Y MÁS</a>
    </div>
    <div class="card">
      <img src="../../Comida2.png" alt="Pescado">
      <p class="card-description">Donde la frescura del mar se encuentra con la excelencia culinaria</p>
      <a class="cta-link">SABORES DEL OCÉANO EN CADA PLATO</a>
    </div>
    <div class="card">
      <img src="../../Comida3.png" alt="Mariscos">
      <p class="card-description">Encuéntranos y déjate llevar por un viaje gastronómico marino</p>
      <a class="cta-link">SABOREA GASTRONOMÍA MARINA</a>
    </div>
    <div class="card">
      <img src="../../Comida1.png" alt="Ceviche">
      <p class="card-description">Comidas abundantes y saludables para toda la familia</p>
      <a class="cta-link">PRUEBA NUESTROS CEVICHES Y MÁS</a>
    </div>
    <div class="card">
      <img src="../../Comida2.png" alt="Pescado">
      <p class="card-description">Donde la frescura del mar se encuentra con la excelencia culinaria</p>
      <a class="cta-link">SABORES DEL OCÉANO EN CADA PLATO</a>
    </div>
    <div class="card">
      <img src="../../Comida3.png" alt="Mariscos">
      <p class="card-description">Encuéntranos y déjate llevar por un viaje gastronómico marino</p>
      <a class="cta-link">SABOREA GASTRONOMÍA MARINA</a>
    </div>
    <div class="card">
      <img src="../../Comida1.png" alt="Ceviche">
      <p class="card-description">Comidas abundantes y saludables para toda la familia</p>
      <a class="cta-link">PRUEBA NUESTROS CEVICHES Y MÁS</a>
    </div>
    <div class="card">
      <img src="../../Comida2.png" alt="Pescado">
      <p class="card-description">Donde la frescura del mar se encuentra con la excelencia culinaria</p>
      <a class="cta-link">SABORES DEL OCÉANO EN CADA PLATO</a>
    </div>
    <div class="card">
      <img src="../../Comida3.png" alt="Mariscos">
      <p class="card-description">Encuéntranos y déjate llevar por un viaje gastronómico marino</p>
      <a class="cta-link">SABOREA GASTRONOMÍA MARINA</a>
    </div>
  </div>
</div>

<app-footer></app-footer>
