<div class="menu-container">
  <div class="menu-header">
    <div class="menu-header-content">
      <h2 class="menu-title">VARIEDAD DEL MENÚ</h2>
      <p class="menu-description">
        Sabores del océano en cada bocado. Disfruta de nuestras<br>
        especialidades como paella de mariscos, ceviche,<br>
        langosta a la parrilla y sopa de mariscos.
      </p>
    </div>
  </div>

  <div class="menu-cards">
    <div class="card">
      <img src="../../Comida1.png" alt="Ceviche">
      <p class="card-description">Comidas abundantes y saludables para toda la familia</p>
      <a class="cta-link">PRUEBA NUESTROS CEVICHES Y MÁS</a>
    </div>
    <div class="card">
      <img src="../../Comida2.png" alt="Pescado">
      <p class="card-description">Donde la frescura del mar se encuentra con la excelencia culinaria</p>
      <a class="cta-link">SABORES DEL OCÉANO EN CADA PLATO</a>
    </div>
    <div class="card">
      <img src="../../Comida3.png" alt="Mariscos">
      <p class="card-description">Encuéntranos y déjate llevar por un viaje gastronómico marino</p>
      <a class="cta-link">SABOREA GASTRONOMÍA MARINA</a>
    </div>
  </div>

  <button class="cta-button large" [routerLink]="['/carta']">VER TODO EL MENÚ</button>
</div>
