<div class="body-MateoBeltram">
  <div class="container">
    <div class="info">
      <p><strong>Localización</strong></p>
      <p><strong>Te esperamos</strong></p>
      <p></p>
      <p><strong>Horario:</strong> De Martes a Domingo, de 8:00h a 23:00h.</p>
      <hr />
      <p>
        <strong>Dirección:</strong>
      </p>
      <p class="infoama">
        Av. Quevedo Km 3 Luz de América Cerca de la Universidad de las Fuerzas
        Armadas ESPE
      </p>

      <p><strong>Contactos Telefónicos:</strong></p>
      <ul class="infoama">
        <li>0939005564 ó 022-345-6789</li>
        <li>0987654321 ó 042-987-6543</li>
        <li>0971234567 ó 072-456-1234</li>
      </ul>
      <p>
        <strong>Email:</strong>
      </p>
      <p class="infoama">lostochis1&#64;gmail.com</p>

    </div>

    <div class="formulario">
      <div class="formulario">
        <h2>Haz una reserva</h2>
        <p>También puedes reservar por teléfono si lo prefieres.</p>
        <form action="https://formsubmit.co/jomanzaba@espe.edu.ec" method="POST" ngNoForm>
          <label for="date">Día y hora de la reservación</label>
          <input type="datetime-local" name="Día y hora de la reservación" id="date" />
          <label for="people">Número de comensales</label>
          <input type="text" id="people" name="Número de comensales" placeholder="Nº de comensales" />
          <label for="name">Nombre del cliente reservante</label>
          <input type="text" id="name" name="Nombre del cliente reservante" placeholder="Escribe tu nombre" />
          <label for="phone">Contacto Telefónico</label>
          <input type="tel" id="phone" name="Contacto Telefónico" placeholder="Tu teléfono" />
          <input class="btn" type="submit" value="RESERVAR" />
          <input type="hidden" name="_next" value="http://localhost:4200/reserva/">
          <input type="hidden" name="_captcha" value="false" />
        </form>
      </div>
    </div>
  </div>
</div>

<app-mapa-info></app-mapa-info>
<app-footer></app-footer>
