* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-MateoBeltram {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2e2e2;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.88);
    padding: 20px;
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    margin: auto;
}

.info {
    flex: 1;
    padding-right: 20px;
    border-right: 2px solid #f4c417;
}

.info h2 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
}

.info p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.info p strong {
    font-weight: bold;
    font-size: 22px;
}

.info a {
    color: #eac445;
    text-decoration: none;
}

.infoama {
    color: #eac445;
}

.info a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid #ffffff;
    margin: 20px 0;
}

.formulario {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
}

.formulario h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffffff;
}

.formulario p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #B8B8B8;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    color: #B8B8B8;
    margin-bottom: 8px;
}

input, textarea {
    padding: 12px;
    background-color: #333333;
    border: 1px solid #555555;
    color: #FFFFFF;
    margin-bottom: 15px;
    border-radius: 5px;
}

input::placeholder, textarea::placeholder {
    color: #B8B8B8;
}

.btn {
    background-color: #F5C24C;
    padding: 12px;
    font-size: 16px;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #E4B33F;
    transform: scale(1.05);
}

.infoama li {
    list-style-type: none;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .formulario, .info {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        border-right: none;
    }
}

section {
    display: table;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 110px;
  }

  .example-button-row {
    display: table-cell;
    width: 400px !important;
    margin: 8px 0;
    margin-right: 50px;
  }

  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 8px;
    color: #000000;
  }

  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
